extends /layout

block declarations
    - additional_title      = lingua.movies;
    - body_class            = 'appStreamingMovies';

block additional_css
    link(href="http://vjs.zencdn.net/4.3/video-js.css", rel="stylesheet")
    link(rel='stylesheet', href='/streaming-movies/css/style.css')

block additional_scripts
    script(src="/core/js/video.js")
    script(src="/streaming-movies/js/app.js")


block body
    header
        .container 
            .row
                .col-md-12
                a.backlink(href="/") &#xe113;
                h1.hidden-xs Streaming movies
    .container
        .row
            #search-wrapper
                input#search(type="text", placeholder="magnet url")
